.headerParent {
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.headerTitle {
	padding-left: 20px;
	padding-top: 10px;
	font-size: larger;
	color: white;

	@media only screen and (max-width: 330px) {
		font-size: small;
	}
}

.headerButtonParent {
	display: flex;
	padding-top: 10px;
	padding-right: 20px;

	color: white;
}

.headerButton {
	margin-left: 20px;

	color: white;
	font-size: larger;
	font-weight: 500;
	background-color: transparent;
	border: 0;
	cursor: pointer;

	transition: 0.5s;

	@media only screen and (max-width: 330px) {
		font-size: small;
	}
}

.headerButton:hover {
	color: var(--orangeLight);
	background-color: transparent;
	border: 0;

	transition: 0.5s;
}
