.expWrapper {
	position: relative;
	min-height: 80vh;
	width: 100%;

	max-width: 1000px;
	margin: auto;

	display: flex;
	align-items: center;

	background-color: rgba(255, 255, 255, 0);
}

.expParent {
	display: flex;
	height: 100%;
	width: 100%;

	justify-content: center;
	align-items: center;
}

.expCenter {
	color: white;
	// background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 10px;

	width: 80%;
	// height: 50%;

	@media only screen and (max-width: 600px) {
		width: 100%;
	}
}

.expTitle {
	font-size: 9ch;
	color: #dc2f02;

	@media only screen and (max-width: 550px) {
		font-size: 7ch;
	}
}
