.bold {
    font-weight: bolder;
}

.homeParentDiv {
    display: flex;
    justify-content: space-between;
    min-height: 92vh;
}

.homeLeftSide {
    position: absolute;
    z-index: 1;

    max-width: 60%;

    @media only screen and (max-width: 850px) {
        max-width: 100vw;
    }
}

.homeTitle {
    width: 100%;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: bolder;

    @media only screen and (max-width: 350px) {
        font-size: large;
    }
}

.homeSubTitle {
    width: 100%;
    text-align: center;
    color: white;
    font-size: large;

    @media only screen and (max-width: 385px) {
        font-size: medium;
    }

    @media only screen and (max-width: 385px) {
        font-size: small;
    }
}

.homeSocials {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    width: 100%;
}

.homeSocialButton {
    display: flex;
    padding: 10px;
    border-radius: 50%;
    transition: 0.5s;
}

.homeSocialButton:hover {
    background-color: orangered;
    // background-color:rgba(#ff4500, 0.9);
    transition: 0.5s;
}

.homeSocialButtonImage {
    width: 40px;
}

.homeBody {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-size: x-large;

    @media only screen and (max-width: 950px) {
        font-size: large;
    }

    @media only screen and (max-width: 450px) {
        font-size: medium;
    }

    @media only screen and (max-width: 450px) {
        font-size: small;
    }
}

.highlightText {
    color: orangered;
}

.homeRightSide {
    position: absolute;
    z-index: 0;
    padding-top: 40px;
    min-height: 85vh;
    height: max-content;
    width: 150vw;

    @media only screen and (max-width: 850px) {
        width: 100vw;
    }
}