.navBarParentDiv {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px 15px;
}

.navBarTitle {
    font-size: x-large;
    display: flex;
}

.navBarMenu {
    font-size: larger;
    display: flex;
}

.navBarMenuItemButton {
    display: block;
    margin-left: 20px;
    transition: 0.5s;
}

.navBarMenuItemButton:hover {
    color: orangered;
    transition: 0.5s;
}
