.projects-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 100vh;

	justify-content: center;
	align-items: center;
}

.projects-parent {
	max-width: 1000px;

	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;

	margin: 50px 0 50px 0;
}

.projects-project-card {
	width: 40%;
}
