
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  /* overflow-x: hidden; */
}

code {
  font-family: 'Roboto Condensed', sans-serif;
}


/*  SCROLLBAR  */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* Custome Text Highlighting */
::-moz-selection { 
  background-color: transparent; 
  color: #E85D04;
  }
  
  ::selection {
  background-color: transparent;
  color: #E85D04  ;
  }