.title-wrapper {
	height: 100vh;
	width: 100%;

	z-index: 100;

	color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title-main {
	font-size: 9ch;

	@media (max-width: 475px) {
		font-size: 6ch;
	}

	@media (max-width: 320px) {
		font-size: 4ch;
	}
}

.title-sub {
	font-size: 3ch;

	@media (max-width: 475px) {
		font-size: 2ch;
	}

	@media (max-width: 320px) {
		font-size: 1.5ch;
	}

	color: var(--orange);
}
